.fontface {
    
    font-size: 1.6rem;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    line-height: 1.618;
    /* word-wrap: break-word; */
    color: #3a3838;
}

.font-size-16{
    font-size: 16px;
}

.font-size-24{
    font-size: 24px;
}